/* 
Primary:
#04ddb2
Primary Shades:
#04c7a0

#333
#767676

Gray color:
#868e96
#343a40
light - #f1f3f5

*/

/* Fonts */

@font-face {
  font-family: "Lab Grotesque Web";
  src: url("../fonts/LabGrotesque-Thin.woff") format("woff"),
    url("../fonts/LabGrotesque-Thin.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Lab Grotesque Web";
  src: url("../fonts/LabGrotesque-Regular.woff") format("woff"),
    url("../fonts/LabGrotesque-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lab Grotesque Web";
  src: url("../fonts/LabGrotesque-Medium.woff") format("woff"),
    url("../fonts/LabGrotesque-Regular.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Lab Grotesque Web";
  src: url("../fonts/LabGrotesque-Bold.woff") format("woff"),
    url("../fonts/LabGrotesque-Medium.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Lab Grotesque Web";
  src: url("../fonts/LabGrotesque-Black.woff") format("woff"),
    url("../fonts/LabGrotesque-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

/* General Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lab Grotesque Web", sans-serif;
  position: relative;
}

.container {
  margin: 0 auto;
  padding: 0 4.8rem;
}

.container-m {
  margin: 6.4rem 12.8rem;
}

.container-b {
  margin: 6.4rem 20rem;
}

.grid {
  display: grid;
}

.grid-1-cols {
  grid-template-columns: 1fr;
}

.grid-2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid-3-cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid-5-cols {
  grid-template-columns: repeat(5, 1fr);
}

/* ////////////////////////////// 
HEADER 
/////////////////////////////////*/

header {
}

.header {
  padding: 1.6rem;
  margin: 0 4rem 0 6rem;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(5px);

  z-index: 100;
}

.logo {
  width: 7.4rem;
}

.header-nav {
  justify-self: center;
}

.header-nav--parent {
  display: flex;
  gap: 4.8rem;
  font-size: 1.8rem;
  list-style: none;
  color: #767676;
  font-weight: 500;
  cursor: pointer;
}

.header-nav--child {
  transition: all 0.15s;
}

.header-nav--child:hover {
  color: #343a40;
  transform: scale(1.1);
}

.wide-btn {
  width: 12.8rem;
  padding: 1.2rem 2rem;
  border-radius: 500px;
  font-size: 1.8rem;
  font-weight: 700;
  border: none;
  background-color: #04ddb2;
  color: #fff;
  cursor: pointer;
}

.header-btn {
  justify-self: end;
}

.header-btn:hover {
  background-color: #04c7a0;
}

/* ///////////////////////////
FOOTER
////////////////////////////// */
.footer {
  margin-bottom: 12rem;
}
.footer-container {
  justify-items: center;
}

.footer-flex {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.brand--logo {
  width: 8rem;
}

.brand--text {
  font-size: 1.6rem;
  color: #767676;
}

.code-svg {
  width: 1.8rem;
  height: 1.8rem;
  vertical-align: middle;
  stroke: #04c7a0;
}

.footer-nav-title {
  color: #333;
  font-weight: 700;
}

.footer-logo {
  display: flex;
  gap: 1rem;
}

.ft-icon {
  height: 4.4rem;
  width: 4.4rem;
  fill: #fff;
  stroke: #fff;
  background-color: #04c7a0;
  padding: 0.8rem;
  border-radius: 20rem;
}

/* OTHERS */

.divider {
  border-bottom: 1px solid #ced4da;
}
